<h1>여기는 글을 수정하는 페이지입니다.</h1>

<form action="/update/<%=@edit_post.id%>" method="post">
    제목: <input type="text" name="post_title" value="<%=@edit_post.title%>"></input><br><br>
    내용: <textarea name="post_content"><%=@edit_post.content%></textarea><br><br>
    <input type="submit" value="작성">
    
    
</form>

