<h1>여기는 글 쓰는 페이지입니다.</h1>

<form action="/posts/create" method="post">
    제목: <input type="text" name="post_title"></input><br><br>
    내용: <textarea name="post_content"></textarea><br><br>
    <input type="submit" value="작성">
    
    
</form>